
$blue-1: #141B2C;
$blue-2: #27334F;
$blue-3: #212944;
$blue-4: #202A43;
$blue-5: #425277;

$blue-light-1: #4788C7;
$blue-light-2: #74ACE2;
$blue-light-3: #A9C8E8;
$blue-light-4: #CBDDF0;

$green-1:#82C94E;
$green-2:#B6D79E;

$red-1: #CD5050;
$red-2: #CE5151;
